<div class="text-center p-6 bg-white rounded-lg shadow-lg">
        <h1 class="text-9xl font-extrabold text-gray-800 mb-4">404</h1>
        <p class="text-2xl text-gray-600 mb-8">Oops! Página no encontrada</p>
        <a onclick="backToPage()" href="/" class="inline-block bg-blue-500 text-white text-lg px-6 py-3 rounded-full shadow hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-opacity-50 transition duration-300 ease-in-out transform hover:scale-105">
            Regresar
        </a>
    </div>

<script>
    function backToPage() {
        window.history.back();
    }
</script>